/* Clase para añadir una imagen en el hero de index.php */
/* Para el proyecto no la necesitan! */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


form {
    width: 800px;
    margin: auto;
    }

container{
    margin: 0 auto;
    display: flex;
    align-items: center;
}

body {
    background-color: #F8FDFF;
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    font-size: 20px;
    }

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    
h1,
h2,
h3,
h4 {
    text-align: center;
}

text{
    margin-left: 10px;
}

table{
    border-collapse: collapse;
    text-align: center;
    border-color: #F0DEDE;
    margin-left: 10;
    margin-right: auto;
}   

table.center {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 90%;
    text-align: center;
    font-size: 20px
}

/* th {
    border: 1px solid;
}

td{
    border: 1px solid;
} */

tr:nth-child(even) {background: #EBF5FB}
tr:nth-child(odd) {background: #D6EAF8}
tr:nth-child(1) {background: #85C1E9 }
